.flex-container {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 180px;  
    background-color: rgb(180, 49, 49);
}

.flex-container div {
    padding: 10px;   
    background-color:#3eb452;                
    font-size: 20px; 
    color: honeydew;
}